.newuser {
	margin-top: 100px;
}

.colormaroon {
		background-color: #AC5685; /* maroon */
/* 	background-color: #809e02; */
	/* green */
}

.titlename {
	/* 		color: ;#1D8282; */
	/* 	font-weight: bold; */
	font-size: 30px;
	color: white;
	margin: 0px;
	margin-left: 10px;
	font-size: 30px;
}

.navbar-header {
	background-color: #316D9B;
}